:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #20eca8;
  text-decoration: inherit;
}
a:hover {
  color: #69f0c3;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 70px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #20eca8;
  }
  button {
    background-color: #f9f9f9;
  }
}

.occasion-grid {
  column-count: 3;
  column-gap: 1.5em;
}

.occasion-grid-item {
  margin-bottom: 1rem;
  padding: 0;
  display: block;
  break-inside: avoid; /* keep the whole card in one column */
  position: relative;
}

.occasion-grid-item :hover {
  transition: filter 0.3s ease, transform 0.3s ease;
  transform: translateY(-8px);
}

.occasion-grid-item img{
  width: 100%;
  display: block;
  border-radius: 15px;
}

.occasion-grid-item img:hover {
  filter: brightness(0.65);
}

.occasion-grid-item a {
  text-decoration: none;
  color: inherit;
}

.occasion-grid-item .label {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  font-size: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  display: none;
}

.occasion-grid-item a:hover .label {
  display: block;
}

/* nav {
  background-color: #797979;
  border-bottom: 1px solid #777777;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem; 
  padding: 0.5rem 1rem;
  width: 100%;
} */

nav, .nav-menu, .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* z-index: 1030; */
  background-color: #999999;
  border-bottom: 1px solid #777777;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}


nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 1rem;
  display: flex;
}

nav a {
  font-weight: 500;
  color: #20eca8;
  text-decoration: inherit;
}

.nav-item {
  margin: 0 10px;
  transition: transform 0.2s ease; /* Smooth transition for the hover effect */
}

.nav-item:hover {
  /* Grow */
  transform: scale(1.1);
}

/* .navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* z-index: 1030; */
/*} */


.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* or flex-start, depending on desired layout */
  width: 100%;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: inherit;
  text-decoration: none;
  width: 100%;
}

.navbar-container {
  /* create solid line on bottom and colour navbar */
  border-bottom: 1px solid #777777;
  width: 100%;
  background-color: #797979;
  padding: 0.5rem 1rem;
}

.grid-container {
  padding: 1rem 3rem;
} 

.center {
  align-items: center;
  text-align: center;
}

@media (max-width: 992px) {
  .occasion-grid {
    column-count: 2;
  }
}

@media (max-width: 768px) {
  .occasion-grid {
    column-count: 1;
  }
}